Body{
    padding: 2vh;
    background-color: rgb(4, 0, 22);
    border: rgb(255, 255, 255) solid 1vh;
    border-radius: 5vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
} 
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */

}
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 204, 255);
    font-size: larger;
}
h2,h2,h3,h4,h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h2{
    color: white;
}
h3{
    color: white;
}
h6{
    color: white;
    text-align: right;
    font-size:medium;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a :hover{
    color: rgb(43, 255, 0);
    font-weight:1000;
}
